{% load custom_tags %}
<header id="header">
    <h1><a href="{% url 'index' %}">Yatube</a></h1>
    <nav class="links">
        {% if user.is_authenticated %}        
        <ul>
            <li><h1><a href="{% url 'profile' user.username %}">Ваш профиль: {{ user.username }}</a></h1></li>                       
            <li><a href="{% url 'new_post' %}">Новая запись</a></li>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'follow_index' %}">Подписки</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'signup' %}">Регистрация</a></li>
        </ul>
        {% endif %}
    </nav>
    <nav class="main">
        <ul>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
                
            </li>
        </ul>
    </nav>

</header>

<!-- Menu -->

<section id="menu">
    {% if user.is_authenticated %}

    <section>
        <ul class="actions stacked">
            <li><a href="{% url 'profile' user.username %}" class="button large fit">Профиль</a></li>
            <li><a href="{% url 'password_change' %}"class="button large fit">Изменить пароль</a></li> 
            <li><a href="{% url 'logout' %}" class="button large fit">Выйти</a></li>            
        </ul>
    </section>

    {% else %}
    <section>
        <ul class="actions stacked">
            <li><a href="{% url 'login' %}" class="button large fit">Вход</a></li>
            <li><a href="{% url 'signup' %}" class="button large fit">Регистрация</a></li>
        </ul>
    </section>
    {% endif %}
</section>
