{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

{% load static %}
<article class="post" style="background:  rgba(94, 65, 65, 0.075);">
  <header>
    <div class="title">
      <h2>Об авторе</h2>
      <p><a href="https://github.com/yankovskaya-ktr/">GitHub</a>: Екатерина Янковская </p>
    </div>
    <!-- <div class="meta">
      <a href="#" class="author"><span class="name"><a href="https://github.com/yankovskaya-ktr/">GitHub</a></span><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
    </div> -->
  </header>

  <div style="font-family: Raleway, Helvetica, sans-serif; letter-spacing: 0.03em;">
    <p><span class="image right"><img src="{% static 'images/av1.jpg' %}" alt="" /></span>Привет!<br>
    Меня зовут Екатерина, мне 25. <br>
    По образованию я лингвист, занимаюсь разработкой сценариев чат-ботов, но хочу забраться в IT подальше — до самого бэкенда)</p>
    <p>Люблю путешествия, крыс, вкусно поесть, воздушную гимнастику — и когда то, что казалось недостижимым, начинает получаться!</p>
    <p>Спасибо, что зашли! 🖤</p>
  </div>   

{% endblock %}