{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}

<article class="post" style="background:  rgba(94, 65, 65, 0.075);">
  <header>
    <div class="title">
      <h2>О проекте</h2>
      <p>Yatube</p>
    </div>
  </header>

  <div style="font-family: Raleway, Helvetica, sans-serif; letter-spacing: 0.03em;">
    <p>Платформа Yatube создана в качестве учебного проекта на курсе Яндекс Практикума <a href="https://praktikum.yandex.ru/backend-developer">"Python-разработчик"</a>.</p>
    <p>Зарегистрировавшись, здесь можно:
        <ul>
            <li>Читать посты других авторов и сообществ</li>
            <li>Создавать и редактировать посты</li>
            <li>Оставлять лайки и комментарии</li>
            <li>Подписываться на авторов</li>
            <li>Искать и находить баги)</li>
        </ul>
    </p>
    <p>Буду признательна за любую активность и добро пожаловать!</p>
  </div>


  

</article>
{% endblock %}